<div>
    <div class="well form-vertical">
        <b>Editar:</b> <br>
        Tarea: <input type="text" ng-model="tareaActualizar"> <br>
        Prioridad: <select ng-model="prioridad">
            <option value="Alta">Alta</option>
            <option value="Media">Media</option>
            <option value="Baja">Baja</option>
        </select>
        <br>
        <a href="#/inicio" class="btn"> Cancelar</a>
        <a class="btn btn-primary" ng-click="actualizarTarea()" href="#/inicio">Guardar</a>
    </div>




</div>